others/reg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="para">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="note">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="remark">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="br" />
                        </xs:sequence>
                        <xs:attribute name="class" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="lang" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>

